@import '../../mixins';
.footer {
    display: flex;
    padding: 1em 1.875em;
    box-shadow: inset 0 1px 0 #d8dce2;
    background-color: $grey;
    &__button {
        border-radius: 4px;
        border: 1px solid #d8dce2;
        background-color: #ffffff;
        color: #173147;
        font-family: "Noto Sans";
        padding: 12px 16px;
        @include fontSize(10px); 
        font-weight: 700;
        line-height: 1.1;
        cursor: pointer;
        &_blue {
            background-color: #2f93e1;
            color: #fff;
            margin-left: 10px;
        }
        &_next {
            &:after {
                content:'';
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 13px;
                margin-left: 5px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAAc0lEQVQ4T6WTwQ2AUAhD24mMG+gmupkjuYIb6AQ1jSbGHw8InDjAIy1ABEPSRHJpyxnshyQBmFvIX4DnvSAZgCE9ydUJJTnpolLuuh3AaIgB1paJC1IAeOhWARwAhqwHV7M9iIpvpD5bSABKd1C6xM9fOAF9ZEFFpt7QKgAAAABJRU5ErkJggg==) 0 0 no-repeat;
            }
        }
        &_back {
            &:before {
                content:'';
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 13px;
                margin-right: 5px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAAhklEQVQ4T2NkwAJ6lx9NKI60XoBNDl2MEV0ApJmRkWF+UYQ1hhw2A1EUwTSDFJJsQP+qowb//zGch9lCkgFQzfsZGBgEiPE3kpoLjBRoBpvD2Lfi6AMGBgZ5Em2GK4e54AADAwM/OYaAYwHqDXIMuQiPRopiAeZ0itIBuiEkpQNsyZnYvAAADGo8kUaxJrYAAAAASUVORK5CYII=) 0 0 no-repeat
            }
        }

    }
}
.infrastructure-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
        text-align: center;

        &:not(:last-child) .infrastructure-list__label i:after {
            content: '';
            /* Style for "Rectangle" */
            width: 80px;
            height: 2px;
            background-color: #d8dce2;
            display: block;
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
        }
    }
    &__inpuit{

    }
    &__label{
        width: 105px;
        display: block;
        cursor: pointer;
        & i {
            width: 16px;
            height: 16px;
            line-height: 1;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            border: 4px solid $grey;
            border: 2px solid #d8dce2;
            background-color: #ffffff;
        }
        & span {
            @include fontSize(12px); 
            font-weight: 400;
            line-height: 1;
            display: block;
            padding-top: 7px;
        }
    }
}