<section class="workplace">
  <div class="workplace__sections">
    <span class="workplace__sections-item workplace__sections-item_active">DataC_1</span>
    <span class="workplace__sections-item">DataC_2</span>
  </div>
  <div class="workplace__tasks">
      <div class="workplace__tool">
        <input type="text" placeholder="Search" [(ngModel)]="searchText" class="workplace__search">
        <div class="onoffswitch">
            <input type="checkbox" [checked]="false" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch"></label>
        </div>
        <div class="workplace__switcher">Only selected</div>
        <table class="table">
          <thead>
            <tr>
              <td width="10%">VNF Name</td>
              <td width="15%">Vendor</td>
              <td width="75%">Description</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterTodos">
              <td colspan="3" class="table__td-inner">
                <table class="table table__tr_border">
                  <tr>
                    <td width="10%" class="table__name">
                       <input type="checkbox" name="ch" id="{{item.id}}">
                        <span [innerHtml]="item.name"></span> 
                    </td>
                    <td width="15%" [innerHtml]="item.vendor"></td>
                    <td width="75%" class="table__description" [innerHtml]="item.description"></td>
                  </tr>
                  <tr *ngIf="false">
                    <td colspan="3">
                      <label *ngFor="let ver of item.version" class="table__label">
                        <input type="radio" name="version" id="">
                        {{ver}}
                      </label>
                    </td>
                  </tr>
                </table>
              </td>

            </tr>
            
          </tbody>
        </table>
      </div>
  </div>
</section>